@import "normalize.styl"

gris_oscuro = #333
gris_claro = #818181

body
	font-size 16px
figure
	margin 0
.container
	padding 1.4em
	font-size 0
.name
	color gris_oscuro
.author
	color gris_claro
.song
	width 8em
	font-size 1rem
	display inline-block